In [2]:
import seaborn as sns
import joblib

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Import

In [75]:
df = pd.read_csv('Dataframe_Final_Comtés_Mois.csv',index_col=0)

In [ ]:
df.head()

In [76]:
df['Etat'] = df.Etat.astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903456 entries, 0 to 903455
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Année                    903456 non-null  int64
 1   Etat                     903456 non-null  object
 2   Mois                     903456 non-null  int64
 3   TMAX                     903456 non-null  float64
 4   TAVG                     903456 non-null  float64
 5   PCPN                     903456 non-null  float64
 6   Etat_Comté               903456 non-null  object
 7   Etendue totale des feux  903456 non-null  float64
 8   Nombre de feux           903456 non-null  int64
 9   Comté                    903456 non-null  int64
dtypes: float64(4), int64(4), object(2)
memory usage: 75.8+ MB

In [77]:
df['Etat'] = df['Etat'].apply(lambda x: 'State_' + x)
df.head()

,Année,Etat,Mois,TMAX,TAVG,PCPN,Etat_Comté,Etendue totale des feux,Nombre de feux,Comté
0,1992,State_1,1,54.5,44.6,5.62,01-001,0.0,0,1
1,1993,State_1,1,59.3,49.7,6.08,01-001,0.0,0,1
2,1994,State_1,1,52.2,41.7,3.54,01-001,19.6,3,1
3,1995,State_1,1,57.0,46.4,4.95,01-001,2.6,4,1
4,1996,State_1,1,56.0,44.0,7.04,01-001,0.0,0,1

In [19]:
#Creating dataframes for machine learning by state
def getdummies(df):
    state_county = pd.get_dummies(df['Etat_Comté'],prefix='State_County', prefix_sep='_')
    date = pd.get_dummies(df['Année'],prefix='Y', prefix_sep='_')
    df = df.join(date)
    df = df.join(state_county)
    df.drop(columns=['Année','Etat','Etat_Comté','Comté'],inplace=True)
    return df

In [8]:
liste = list(df.Etat.unique())
for state in liste:
    name = str(state)
    data = df[df['Etat'] == state]
    data = getdummies(data)
    data.to_csv(f'{name}.csv')

### Number of fires

In [113]:
#Creating a modelling function
def model(State):

    #Creating dataframe
    df_results = pd.DataFrame()
    nom = []
    Train_MSE = []
    Test_MSE = []
    Train_MAE = []
    Test_MAE = []

    name = str(State)
    df = pd.read_csv(f'{name}.csv',index_col=0)
    

    from sklearn.model_selection import train_test_split
    import sklearn.metrics
    from sklearn.metrics import mean_squared_error
    from sklearn.metrics import mean_absolute_error
    from sklearn.ensemble import RandomForestRegressor
    
    #target and explanatory variables + test and training sets
    features = df.drop(columns=['Etendue totale des feux','Nombre de feux'])
    nbre = df.loc[:,'Nombre de feux']
    etendue = df.loc[:,"Etendue totale des feux"]
    X_train,X_test,y_train,y_test = train_test_split(features,nbre,random_state=42,test_size=0.2)
    
    #model training and metrics
    regressor = RandomForestRegressor()
    regressor.fit(X_train,y_train)
    y_pred_test = regressor.predict(X_test)
    y_pred_test = pd.DataFrame(y_pred_test, columns=['predictions'])
    y_pred_train = regressor.predict(X_train)
    y_pred_train = pd.DataFrame(y_pred_train, columns=['predictions'])
    rfr_mse_test = mean_squared_error(y_test,y_pred_test)
    rfr_mae_test = mean_absolute_error(y_test,y_pred_test)
    rfr_mse_train = mean_squared_error(y_train,y_pred_train)
    rfr_mae_train = mean_absolute_error(y_train,y_pred_train)
    
    #retrieval for metrics
    nom.append(name)
    Train_MSE.append(rfr_mse_train)
    Train_MAE.append(rfr_mae_train)
    Test_MSE.append(rfr_mse_test)
    Test_MAE.append(rfr_mae_test)
    
    #dataset creation by state
    df_results['Etat']=nom
    df_results['Train_MSE']=Train_MSE
    df_results['Train_MAE']=Train_MAE
    df_results['Test_MSE']=Test_MSE
    df_results['Test_MAE']=Test_MAE
    
    #model export for streamlit
    joblib.dump(regressor, f'{name}'+'model.joblib')
    
    return df_results

In [115]:
#Application of the modelling function to States
df_resultats = pd.DataFrame()
for state in liste:
    df_resultats=pd.concat([df_resultats,model(state)], ignore_index=True)

df_resultats

        Etat  Train_MSE  Train_MAE   Test_MSE  Test_MAE
0    State_1   1.321640   0.516892   9.382728  1.374049
1    State_2   8.896527   1.290854  97.771542  3.863681
2    State_3   0.353312   0.256200   2.292581  0.654072
3    State_4   3.075085   0.706353  16.119016  1.745471
4    State_5   0.876268   0.304442   7.688556  0.848861
5    State_6   1.446229   0.566549   9.345303  1.421367
6    State_7   0.015876   0.021592   0.028744  0.037399
7    State_8   1.782384   0.868139  14.700520  2.406119
8    State_9   1.371365   0.722913   9.209851  1.921138
9   State_10   3.186504   0.569639  22.462070  1.524398
10  State_11   0.019450   0.026497   0.150542  0.069627
11  State_12   0.002751   0.005482   0.022716  0.013566
12  State_13   0.043899   0.057210   0.335050  0.156945
13  State_14   0.257576   0.050965   1.264715  0.145511
14  State_15   0.311549   0.201181   2.251642  0.541930
15  State_16   0.501509   0.179132   4.529740  0.522281
16  State_17   1.590002   0.694246  10.360053  1.863297
17  State_18   0.194901   0.147446   1.316081  0.405389
18  State_19   2.856927   0.165836  15.497036  0.477460
19  State_20   0.154148   0.161709   0.937279  0.414694
20  State_21   1.038827   0.315483   7.459736  0.884960
21  State_22   1.147936   0.507078   8.917786  1.364930
22  State_23   0.246244   0.161109   2.157003  0.429902
23  State_24   0.816634   0.305117   9.702879  0.892756
24  State_25   0.003787   0.002969   0.005586  0.006464
25  State_26   2.615647   0.668172  28.844061  2.062327
26  State_27   0.248147   0.288733   1.490287  0.731059
27  State_28   2.484378   0.902668  18.371172  2.444777
28  State_29   1.199794   0.505211   8.752340  1.373577
29  State_30   3.796205   0.896409  33.933389  2.538371
30  State_31   0.764250   0.373465   4.251529  0.939628
31  State_32   0.018180   0.029935   0.127406  0.083554
32  State_33   0.082183   0.051130   0.491774  0.132809
33  State_34   1.671799   0.290375  12.210060  0.789509
34  State_35   4.827307   0.932133  31.580809  2.518221
35  State_36   0.249255   0.145616   1.822491  0.385148
36  State_37   0.226743   0.132865   1.173005  0.378681
37  State_38   2.820692   0.813322  14.281357  2.041257
38  State_39   0.083458   0.081723   0.899866  0.246439
39  State_40   0.251113   0.192010   1.740510  0.507942
40  State_41   0.991686   0.407121   7.071751  1.112036
41  State_42   1.792378   0.701608   8.572445  1.704662
42  State_43   0.029627   0.043448   0.153409  0.112825
43  State_44   0.126699   0.134729   0.880999  0.356056
44  State_45   1.452343   0.515933   6.736296  1.251095
45  State_46   0.563359   0.407613   3.797905  1.079716
46  State_47   0.653803   0.370208   5.512365  1.054419
47  State_48   0.886642   0.403912   5.604639  1.056951
48  State_50   0.049472   0.016914   0.075985  0.042054

In [118]:
df_resultats.max()

Etat           State_9
Train_MSE     8.896527
Train_MAE     1.290854
Test_MSE     97.771542
Test_MAE      3.863681
dtype: object

In [117]:
df_resultats.min()

Etat          State_1
Train_MSE    0.002751
Train_MAE    0.002969
Test_MSE     0.005586
Test_MAE     0.006464
dtype: object

In [92]:
df_resultats.mean()

C:\Users\norac\AppData\Local\Temp\ipykernel_30784\2313732721.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_resultats.mean()

Train_MSE    1.217657
Train_MAE    0.369317
Test_MSE     9.223409
Test_MAE     0.998378
dtype: float64

### Fires' range

In [88]:
def model_etendue(State):

    #Creating dataframe
    df_results = pd.DataFrame()
    nom = []
    Train_MSE = []
    Test_MSE = []
    Train_MAE = []
    Test_MAE = []

    name = str(State)
    df = pd.read_csv(f'{name}.csv',index_col=0)
    from sklearn.model_selection import train_test_split
    import sklearn.metrics
    from sklearn.metrics import mean_squared_error
    from sklearn.metrics import mean_absolute_error
    
    features = df.drop(columns=['Etendue totale des feux','Nombre de feux'])
    nbre = df.loc[:,'Nombre de feux']
    etendue = df.loc[:,"Etendue totale des feux"]
    X_train,X_test,y_train,y_test = train_test_split(features,etendue,random_state=42,test_size=0.2)
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor()
    regressor.fit(X_train,y_train)
    y_pred_test = regressor.predict(X_test)
    y_pred_test = pd.DataFrame(y_pred_test, columns=['predictions'])
    y_pred_train = regressor.predict(X_train)
    y_pred_train = pd.DataFrame(y_pred_train, columns=['predictions'])
    rfr_mse_test = mean_squared_error(y_test,y_pred_test)
    rfr_mae_test = mean_absolute_error(y_test,y_pred_test)
    rfr_mse_train = mean_squared_error(y_train,y_pred_train)
    rfr_mae_train = mean_absolute_error(y_train,y_pred_train)
    
    nom.append(name)
    Train_MSE.append(rfr_mse_train)
    Train_MAE.append(rfr_mae_train)
    Test_MSE.append(rfr_mse_test)
    Test_MAE.append(rfr_mae_test)
    
    df_results['Etat']=nom
    df_results['Train_MSE']=Train_MSE
    df_results['Train_MAE']=Train_MAE
    df_results['Test_MSE']=Test_MSE
    df_results['Test_MAE']=Test_MAE
    return df_results

In [106]:
df_resultats_etendue = pd.DataFrame()
for state in liste:
    df_resultats_etendue=pd.concat([df_resultats_etendue,model_etendue(state)], ignore_index=True)
df_resultats_etendue

        Etat     Train_MSE   Train_MAE      Test_MSE     Test_MAE
0    State_1  2.075073e+03   12.588940  8.266556e+03    28.747050
1    State_2  9.255348e+06  360.321490  1.808765e+07   885.812478
2    State_3  2.137043e+03    7.490981  1.462395e+04    19.616660
3    State_4  8.689303e+06  295.760057  2.921567e+07   610.298727
4    State_5  1.725332e+05   43.734933  3.981796e+06   137.536653
5    State_6  2.772198e+02    2.591096  4.525387e+02     5.360830
6    State_7  3.910072e-01    0.081195  8.771616e-01     0.147922
7    State_8  5.953359e+05   86.850907  3.012478e+06   237.722910
8    State_9  4.987492e+03    7.166724  6.245445e+04    21.330298
9   State_10  1.376700e+07  420.561608  1.985407e+08  1250.448908
10  State_11  4.019719e+01    0.402357  1.035329e+02     0.856536
11  State_12  3.175545e+01    0.178535  3.899375e+01     0.230961
12  State_13  2.480768e+02    1.320823  1.178778e+03     3.607665
13  State_14  8.854052e+04   19.987379  3.851422e+05    54.136590
14  State_15  1.916958e+03    8.441734  1.107704e+04    21.240138
15  State_16  1.836514e+03    5.199273  6.396614e+04    17.973177
16  State_17  2.097609e+02    2.713616  4.178721e+02     5.547900
17  State_18  3.104620e+02    1.859480  2.747746e+03     4.663422
18  State_19  4.606262e+01    0.656156  1.130519e+03     2.960480
19  State_20  5.896653e+03    3.861164  4.731269e+03     5.998713
20  State_21  9.369628e+04   22.273061  4.299606e+05    58.968959
21  State_22  3.287376e+03   12.093001  1.901005e+04    31.204870
22  State_23  8.525216e+02    5.675462  1.119287e+04    16.690401
23  State_24  2.515152e+06  159.031233  5.318236e+06   360.254333
24  State_25  4.751306e+04    6.231234  9.655618e+04     7.699995
25  State_26  2.392268e+07  786.987465  5.790981e+08  2989.518485
26  State_27  8.139760e+00    0.646937  3.478965e+01     1.568994
27  State_28  2.489484e+04   13.140954  7.490239e+04    34.238979
28  State_29  6.133210e+06  296.815278  4.150042e+07   870.017834
29  State_30  7.822933e+02    2.351291  1.652337e+03     5.497314
30  State_31  9.993924e+03    5.987475  9.082861e+04    16.379553
31  State_32  4.470835e+04    8.481282  6.454765e+05    34.632770
32  State_33  1.230921e+02    0.589398  6.552931e+02     1.626029
33  State_34  1.887681e+05   43.764039  4.909272e+05    90.176300
34  State_35  1.720339e+07  371.419858  1.068232e+07   555.747192
35  State_36  2.568687e+02    1.432472  8.107427e+02     3.288122
36  State_37  5.123823e-01    0.185748  4.350083e+00     0.552636
37  State_38  8.611559e+03   10.635384  6.797723e+03    23.355167
38  State_39  8.082930e+03    7.116014  2.097204e+04    15.666846
39  State_40  9.182570e+02    5.352982  5.871075e+03    14.131525
40  State_41  1.080085e+06   61.503911  1.394350e+07   193.233718
41  State_42  4.837992e+06  224.712701  9.777877e+06   445.717164
42  State_43  3.719909e+00    0.227688  7.383501e+00     0.435378
43  State_44  3.121609e+03    4.211831  1.774829e+04    11.857071
44  State_45  5.503318e+06  194.121888  1.200447e+07   323.026111
45  State_46  1.734255e+04   18.773103  7.492225e+04    45.839517
46  State_47  1.376438e+02    1.735783  1.402407e+04     6.319072
47  State_48  9.825041e+05  134.569168  1.411705e+07   490.056371
48  State_50  7.266873e+07  235.092343  4.018352e+07   302.504059

In [109]:
df_resultats_etendue.mean()

C:\Users\norac\AppData\Local\Temp\ipykernel_30784\2238232354.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_resultats_etendue.mean()

Train_MSE    3.426291e+06
Train_MAE    7.993729e+01
Test_MSE     2.004127e+07
Test_MAE     2.094784e+02
dtype: float64

In [107]:
df_resultats_etendue.to_csv('df_resultats_etendue.csv')
df_resultats.to_csv('df_resultats_nombre.csv')